@use 'variables' as *;

@mixin uppercase() {
  text-transform: uppercase;
}

@mixin mainGridLarge() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:  repeat(14, 1fr) 7vw;
}

@mixin mainGridLargeLayer() {
  grid-column: 1/span all;
  grid-row: 1/span all;
  @include mainGridLarge();
}

@mixin mainGridSmall() {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  repeat(9, 1fr) 5vw;
}

@mixin mainGridSmallLayer() {
  grid-column: 1/2;
  grid-row: 1/span all;
  @include mainGridSmall();
}

@mixin typing() {
  @keyframes typing {
      0% { width:0% }
      60% { width:100%}
  }
}

body {
  background-color: $background-color;
}

h1 {
  font-family: $fonts-h1;
  color: $text-dark;
}

h2 {
  font-family: $fonts-h2;
  color: $text-dark;
}

h3 {                      
  font-family: $fonts-h3;
  color: $text-dark;
  margin: 0;
}

p {
  margin: 0;
  font-family: $fonts-p;
  color: $text-dark;
  hyphens: auto;
  font-size: 1vw;
}

a {
  color: $text-dark;
  text-decoration: none;
}

li {
  font-size: 1.5vw;
}
