@media (max-width: 612px) { 

main {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section_1 {
    grid-column: 1;
    grid-row: 1;
}

.section_2 {
    grid-column: 1;
    grid-row: 2;
}

.section_3 {
    grid-column: 1;
    grid-row: 3;
}
body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: rgb(36, 102, 35);
    color: white;
}

header {
    margin: 0;
}

header h1 {
    font-size: 45px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

section {
    max-width: 320px;
    height: auto;
    margin: 15px auto;
    background-color: rgb(245, 245, 241);
    border-radius: 8px;
    border-radius: 10px;
    border: 1px solid grey;
}

h2 {
    background-color: rgb(36, 102, 35);
    color: white;
    margin: 0;
    padding: 8px 5px 5px 8px;
    border-radius: 8px 8px 0 0;
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding: 5px 0 5px 5px; 
    margin: 0; 
}

ul li {
    margin: 5px 0;
    max-width: 100%;
}

a {
    word-wrap: break-word;
}

img {
    display: block;
    max-width: 97%;
    height: auto;
    margin: 0 auto;
    border: solid grey 1px;
    border-radius: 4px;
}

p {
    padding: 5px;
    margin: 0;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
}

footer a {
    color: white;
}

}