@use 'variables' as *;
@use 'atoms';

header {
  grid-column: 1/span all;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  background-image: url(./images/clown-1295055.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 15% 90%;
  border-top: $header-border-style;
  border-bottom: $header-border-style;

  h1 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 8vw;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: start;
    margin: 1vw 0 0 10vw;
    padding: 0;
    
  }
  h2 {
    font-size: 1vw;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    margin: 0 0 0 10vw;
  }
}

.summary {
  grid-column: 1/span all;
  grid-row: 2/3;
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 1fr;
  background-image: url(./images/fifthAveFinal.jpg), url(./images/cat-fiddle-vintage-postcard-small.jpg);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 27vw 9vw, 9vw 9vw;

  p {
    align-self: center;
  }
  
  p:nth-child(1) {
    grid-column: 2/3;
    margin-right: 2em;
  }
  
  p:nth-child(2) {
    grid-column: 3/4;
  }
}

.preamble {
  grid-column: 5/11;
  grid-row: 7/10;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-column-gap: .65vw;

  h3 {
    font-size: 6.5vw;
    grid-column: 1/span all;
    grid-row: 1/2;
    justify-self: center;
    align-self: start;
    line-height: .9;
  }
  
  p:nth-child(2) {
    grid-column: 1/5;
    grid-row: 2/3;
    text-align: justify;
  }
  
  p:nth-child(3) {
    grid-column: 1/5;
    grid-row: 3/6;
    text-align: justify;
  }
  
  p:nth-child(3)::after {
    content: "Dreary";
      grid-column: 1/2;
      font-family: $fonts-h3;
      color: black;
      font-size: 5.7em;
      letter-spacing: .3em;
      @include atoms.fade();
      animation-name: fade;
      animation-duration: 10s;
      animation-iteration-count: infinite;
  }
  
  p:nth-child(4) {
    grid-column: 5/7;
    grid-row: 2/4;
    text-align: justify;
  }
}

.explanation {
  grid-column: 1/span all;
  grid-row: 3/8;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url(./images/rename.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62% 52%;
  border-top: $content-border-style;
  border-right: $content-border-style;
  border-left: $content-border-style;

  h3 {
    grid-column: 1/span all;
    grid-row: 1/2;
    width: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 8vw;
    @include atoms.typing();
    animation: 
      typing 5s steps(21),
      blink .75s step-end;
    animation-iteration-count: infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  
  p:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/span all;
    padding-left: .5rem;
    text-align: justify;
    font-size: .9vw;
  }
  
  p:nth-child(2)::before {
    content: url(./images/lightning.svg);
    display: block;
    float: right;
    width: 3vw;
    height: 10vw;
    padding-left: 1.2vw;
  }
  
  p:nth-child(3) {
    grid-column: 11/13;
    grid-row: 2/span all;
    padding-right: .5rem;
    text-align: justify;
  }
  
  p:nth-child(3) > abbr {
    font-size: 4vw;
    @include atoms.uppercase();
    text-shadow: .25vw .25vw grey;
    padding: 0;
    text-decoration: none;
    writing-mode: vertical-rl;
    float: left;
    background-color: rgb(58, 54, 54);
    color: white;
    margin-right: .5rem;
  }
}

.participation {
  grid-column: 5/11;
  grid-row: 10/13;
  display: block;
  margin: 0;

  h3 {
    font-size: 7.4vw;
  }
  
  p {
    text-align: justify;
  }
}

.benefits {
  grid-column: 11/13;
  grid-row: 8/14;
  display: block;
  padding: 1rem;
  border-right: $content-border-style;

  h3 {
    font-size: 3.5vw;
    float: left;
    grid-column: 1/2;
    grid-row: 1/2;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  p {
    text-align: justify;
  }
}


.requirements {
  grid-column: 1/5;
  grid-row: 7/15;
  column-count: 2;
  grid-auto-flow: column;
  display: block;
  border-left: $content-border-style;
  margin: 0 1rem 0 0;
  padding: 0 0 0 1rem;

  h3 {
    writing-mode: vertical-rl;
    @include atoms.uppercase();
    float: left;
    font-size: 4vw;
    font-weight: bolder;
  }

  p {
    text-align: justify;

  }
}

footer {
  grid-column: 1/span all;
  grid-row: 15/16;
  display: flex;
  text-align: center;
  justify-content:space-between;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  border-right: $content-border-style;
  border-bottom: $content-border-style;
  border-left: $content-border-style;

  a {
    font-size: 4vw;
    align-self: end;
    font-family: $fonts-h2;
    background-color: black;
    width: 100%;
    color: white;
    margin: -.1em;
  }
  
  a:first-child {
    padding-left: 3rem;
  }
}

.wrapper {
  grid-column: 5/span all;
  grid-row: 13/15;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-right: $content-border-style;
  margin-top: 1rem;
}

.select, .archives, .resources {
  font-size: 3vw;
  margin: 0;
}

.design-name, .designer-name, .design-archives > nav > ul > li > a, .zen-resources > ul > li > a {
  font-size: 1.5vw;
}

.design-selection {
  grid-column: 1/2;
  grid-row: 1/3;
}

.sidebar::after {
  content: "ZEN GARDEN";
  grid-column: 12/13;
  grid-row: 13/15;
  writing-mode: vertical-rl;
  font-family: $fonts-h3;
  font-size: 3.5vw;
  color: $text-dark;
  justify-self: left;
  transform:scale(3,1)
}





/*************** Small Media Screen **************/

@media only screen and (max-width: $small-view-size) {

  header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    background-position: initial;
    background-size: 15% 90%;
    
    h1 {
      grid-column: 2/7;
      margin: 0;
      align-self: flex-end;
  }
    h2 {
      font-size: 3vw;
      grid-column: 2/7;
      grid-row: 2/2;
      margin: 0;
    }
  }

  
  .summary {
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-image: url(./images/fifthAveFinal.jpg);
    background-size: 48% 70%;
    padding: .5em;
  
    p {
      text-align: justify
    }
    
    p:nth-child(1) {
      grid-column: 2/3;
      grid-row: 1/2;
      font-size: 1.5vw;
      margin: 0;
    }
    
    p:nth-child(2) {
      grid-column: 2/3;
      grid-row: 2/3;
      font-size: 1.5vw;
    }
  }
  
  .preamble {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    border-right: $content-border-style;
    border-left: $content-border-style;
    padding: .5em;

    h3 {
      margin: 1vw;
      font-size: 5vw;
      align-self: center;
    }
    
    p:nth-child(2) {
      font-size: 1.6vw;
    }
    
    p:nth-child(3) {
      font-size: 1.6vw;
    }
    
    p:nth-child(3)::after {
      display: none;
    }
    
    p:nth-child(4) {
      font-size: 1.6vw;
    }
  }
  
  .explanation {
    grid-row: 3/4;
    grid-template-columns: 1fr;
    grid-template-rows: 66% 17% 17%;
    background-size: 100% 45%;
    background-position-y: 28%;
  
    h3 {
      align-self: start;
      font-size: 7vw;
    }
    
    p:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 0 .5rem;
      font-size: 1.3vw;
    }
    
    p:nth-child(2)::before {
      width: 1.5vw;
      height: 5vw;
      padding-left: 0.5rem;
      margin-right: 0.5rem;
    }
    
    p:nth-child(3) {
      grid-column: 1/2;
      grid-row: 3/4;
      padding: 0.5rem;
      font-size: 1.3vw;
    }
    
    p:nth-child(3) > abbr {
      font-size: 2vw;
      text-shadow: .12vw .12vw grey;
    }
  }
  
  .participation {
    grid-column: 1/2;
    grid-row: 7/8;
    border-right: $content-border-style;
    border-left: $content-border-style;
    padding: .5em;

    h3 {
      font-size: 7.4vw;
      text-align: center;
    }
    
    p {
      font-size: 1.2vw;
    }
  }
  
  .benefits {
    grid-column: 1/2;
    grid-row: 6/7;
    padding: .5em;
    border-left: $content-border-style;
  
    h3 {
      font-size: 3.3vw;
      float: right;
    }
  
    p {
      font-size: 2.3vw;
    }
  }
  
  
  .requirements {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
    margin: 0;
    border-right: $content-border-style;
    padding: .5em;
  
    h3 {
      font-size: 3.5vw;
    }
  }
  
  footer {
    grid-row: 9/10;
  }
  
  .wrapper {
    grid-column: 1/2;
    grid-row: 8/9;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    margin-top: 0; 
    border-right: $content-border-style;
    border-left: $content-border-style;
    padding: 1em;
  }
  
  .sidebar::after {
    content: none;
    grid-column: 1/2;
    grid-row: 8/9;
    justify-self: right;
    margin-right: 1.5em;
  }
}


